@page   
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Peliculas el Razor</h1>
                <p>Pagina web de gestion de peliculas</p>
 </div>